@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
.botonera {
  background-color: rgb(221, 221, 221);
}
.botonera img {
  width: 100px;
}
.botonera ul {
  list-style: none;
  display: flex;
}
.botonera ul li {
  margin: 10px;
}
.botonera ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2em;
  color: rgb(51, 161, 116);
}
.botonera ul li a:hover {
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/Fondo\ terralux.jpg);
  background-repeat: auto;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3 {
  font-weight: 500;
  color: rgb(51, 161, 116);
  font-size: 2em;
}

p {
  color: gray;
  font-weight: 400;
  font-size: 1.5em;
}

header img {
  width: 100%;
}

/* selector de clases */
.tx-center {
  text-align: center;
  padding: 5px;
}

.box-top {
  width: 100%;
  background-color: rgb(1, 124, 83);
  color: black;
  font-size: 2.5rem;
  position: sticky;
}

.bg-gris {
  background-color: rgb(230, 232, 232);
  border: #7c7c7c;
  border-radius: 10px;
}

.contenedor1 {
  border: solid rgb(187, 180, 180) 1px;
  box-shadow: 26px 28px 17px -20px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 26px 28px 17px -20px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 26px 28px 17px -20px rgba(0, 0, 0, 0.39);
  background-color: rgba(241, 241, 241, 0.7);
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.contenedor {
  border: solid rgb(187, 180, 180) 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

footer {
  background-color: none;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer svg {
  width: 40px;
  height: 40px;
  fill: rgb(51, 161, 116);
  margin-right: 10px;
  text-decoration: none;
}
footer ul {
  list-style: circle;
}
footer ul li a {
  color: rgb(51, 161, 116);
  font-size: 1.5em;
  text-decoration: none;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

a {
  text-decoration: none;
}

.BtnAnimado:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 1s;
}

.productos-destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: auto;
}
.productos-destacados figure {
  width: 300px;
  border: 1.5px solid #b8b8b8;
  border-radius: 5px;
  box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.52);
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(231, 231, 231);
}
.productos-destacados figure img {
  display: flex;
  align-items: center;
  margin: 10px;
  width: auto;
  border-radius: 5px;
}
.productos-destacados figure figcaption {
  color: black;
  font-size: 2em;
  text-align: center;
}
.productos-destacados figure p {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  margin: 15px;
}
.productos-destacados figure button {
  border: none;
  padding: 2px 30px;
  background-color: rgb(51, 161, 116);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(221, 221, 221);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  font-size: 1.5em;
}

.filters {
  padding: 20px 20px 30px 30px;
}
.filters a {
  color: rgb(134, 130, 132);
  font-size: 1.2em;
  text-decoration: none;
  margin-bottom: 10px;
  text-transform: lowercase;
}
.filters a:hover {
  color: rgb(17, 236, 163);
}
.filters span {
  display: block;
  color: rgb(0, 0, 0);
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 1.5em;
}
.filters select {
  color: rgb(10, 133, 75);
  border: none;
  background-color: white;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.filters li {
  padding-left: 10px;
  list-style: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.actions button {
  margin-left: 10px;
  background-color: rgba(17, 131, 93, 0.623);
  color: white;
  padding: 6px;
  border: none;
  border-radius: 3px;
}
.actions input {
  padding: 6px;
  border-radius: 3px;
  border: none;
  background-color: rgb(221, 221, 221);
}

/*tienda grids*/
.tienda {
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: 20px repeat(3, 300px);
  gap: 15px;
  grid-template-areas: "actions actions actions" "filters prod1 prod1" "filters prod2 prod3" "filters prod2 prod4";
}

.tienda .actions {
  padding: 25px 10px;
  grid-area: actions;
}

.tienda .filters {
  grid-area: filters;
}

.tienda .prod1 {
  grid-area: prod1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.tienda .prod1 p {
  width: 50%;
  margin-left: 50px;
}

.prod1 img {
  height: 250px;
  border-radius: 10px;
}

.prod2 img {
  height: 250px;
  border-radius: 10px;
}
.prod2 p {
  padding: 20px;
}

.prod3 img {
  height: 250px;
  border-radius: 10px;
}

.prod4 img {
  height: 250px;
  border-radius: 10px;
}

.tienda .prod2 {
  grid-area: prod2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.tienda .prod3 {
  grid-area: prod3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda .prod4 {
  grid-area: prod4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda .prod5 {
  grid-area: prod5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda section {
  border-radius: 10px;
}

@media (width < 768px) {
  .tienda {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "actions" "filters" "prod1" "prod2" "prod3" "prod4";
  }
  .tienda .actions {
    justify-content: flex-start;
  }
  .tienda .actions input {
    width: 260px;
  }
  .tienda .filters span,
  .tienda .filters label,
  .tienda .filters input[type=checkbox],
  .tienda .filters ul {
    display: flex;
  }
  .tienda .filters select {
    width: 100%;
    background-color: rgb(243, 245, 245);
    padding: 6px;
    border-radius: 3px;
    margin-top: 20px;
  }
  .tienda .prod1,
  .tienda .prod2,
  .tienda .prod3,
  .tienda .prod4 {
    flex-direction: column;
    padding: 10px;
  }
  .tienda .prod1 p,
  .tienda .prod2 p,
  .tienda .prod3 p,
  .tienda .prod4 p {
    width: auto;
    margin-left: 0;
    text-align: center;
    padding: 20px;
  }
  /*nosotros*/
  .nosotros {
    margin: 10px;
    padding: 10px;
  }
  .descrip1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 15px;
  }
  .descrip1 p {
    padding: 10px;
  }
  /*terrarios*/
}
.nosotros {
  border: 1.5px solid #b8b8b8;
  border-radius: 5px;
  box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.52);
  margin: 10px 20%;
  padding: 30px;
}

.descrip1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}
.descrip1 p {
  margin: 30px;
  text-align: center;
}
.descrip1 p:first-letter {
  color: rgb(51, 161, 116);
  font-size: 2em;
  font-weight: 500;
}
.descrip1 img {
  width: 100%;
  border-radius: 5px;
}
.descrip1 video {
  width: auto;
  border-radius: 5px;
  height: 500px;
}

.imgcontenedor {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;
  margin: 0% 10%;
  grid-template-areas: "img1 img2 img3" "img4 img5 img5" "img6 img6 img7";
}

.gal1 {
  background-color: rgb(214, 230, 224);
  border-radius: 5px;
  grid-area: img1;
}
.gal1 img {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.gal2 {
  background-color: rgb(143, 175, 166);
  border-radius: 5px;
  grid-area: img2;
}
.gal2 img {
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}

.gal3 {
  background-color: rgb(56, 151, 120);
  border-radius: 5px;
  grid-area: img3;
}
.gal3 img {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.gal4 {
  background-color: rgb(176, 245, 222);
  border-radius: 5px;
  grid-area: img4;
}
.gal4 img {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.gal5 {
  background-color: rgb(146, 202, 183);
  border-radius: 5px;
  grid-area: img5;
}
.gal5 img {
  width: auto;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
}

.gal6 {
  background-color: rgb(186, 209, 201);
  border-radius: 5px;
  grid-area: img6;
}
.gal6 img {
  width: auto;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
}

.gal7 {
  background-color: rgb(153, 192, 179);
  border-radius: 5px;
  grid-area: img7;
}
.gal7 img {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

form label {
  font-weight: 400;
  color: rgb(51, 161, 116);
  font-size: 1.5em;
  display: flex;
}

.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.css.map */
