/* selector universal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    /*padding: 0;
    margin:0; */

}
html{
    font-size: 62.5%;
}

/* selector de etiqueta */
body{
    background-image: url(../img/Fondo\ terralux.jpg);
    background-repeat:auto;
    background-attachment:fixed;
    background-size: cover;
}
nav{
    background-color: rgba(231, 231, 231, 0.9);
    padding: 6px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    }
    nav img{
        width: 100px;
    }
    nav ul{
        list-style: none;
        display: flex;

    }
    nav ul li{
       margin: 10px ;

    } 
    nav a{
       text-decoration: none;
       color: rgb(27, 117, 60);
       font-weight: 500;
       font-size: 2rem;
    }
main{
    padding: 0;
}

.botonera a{
    text-decoration: none;
    color: rgb(27, 117, 60);
    font-weight: 500;
    font-size: 2rem;
    }
.productos-destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: auto;
}
.cuadro-productos {
    display:flex ;
    flex-direction: column;
    border: 1.5px solid #b8b8b8;
    border-radius: 5px;
    padding: 10px ;
    width: 300px; 
}
    .cuadro-productos p {
        text-align: center;
        margin-top: 10px;
        width: 100%

    }
    .cuadro-productos img {
        width: 100%;
    }
    
   
/* selector de grupos */
h1,h2,h3{
    font-weight: 500;
    color: rgb(51, 161, 116);
    font-size: 2rem;
}
form label{
    font-weight: 400;
    color: rgb(51, 161, 116);
    font-size: 2rem;
    display: block;
}
p{
    color: gray;
    font-weight: 400;
    font-size: 1.5rem;
}
header img{
    width: 100%;
}
/* selector de clases */
.tx-center{
    text-align:center;
}
.box-top{
    width: 100%;
    background-color: rgb(1, 124, 83);
    color: black;
    font-size: 2.5rem;
    position: sticky;
}
.bg-gris {
    background-color: rgb(230, 232, 232);
    border: #7c7c7c ;
    border-radius: 10px;
}
.contenedor1{
    border: solid rgba(128, 128, 128, 0) 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}
.contenedor{
    border: solid rgb(187, 180, 180) 1px;
    border-radius: 5px;
    margin: 10px ;
    padding: 20px;
}
footer{
    background-color: none;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    footer svg{
        width: 40px;
        height: 40px;
        fill:  rgb(46, 133, 79);
        margin-right: 10px;
    }
    footer ul{
        list-style: circle;
    }

    footer ul li a{
        color: rgb(46, 133, 79);
        font-size: 1.1em;
        text-decoration: none;
    }
.w100{
    width: 100%;
}
/* TIENDA*/
/* HEADER*/
.contenedor2{
    position:relative ;
  
}
.text-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: azure;
    font-size: 40px ;
}
.filters{
    padding: 20px 20px 30px 30px;
}

    .filters a{
        color: rgb(134, 130, 132);
        font-size: 1.2em;
        text-decoration: none;
        margin-bottom: 10px;
        text-transform: lowercase;
    }

        .filters a:hover{
            color:rgb(17, 236, 163);
        }

    .filters span{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        letter-spacing: 1px;
        font-size: 1.5em;
    }

    .filters select{
        color: rgb(10, 133, 75);
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .filters li{
        padding-left: 10px;
        list-style: none;
    }
.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions button{
    margin-left: 10px;
    background-color: rgba(17, 131, 93, 0.623);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.actions input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(221, 221, 221);
    
}
/* PRODUCTOS */
.tienda{
    display: grid;
    grid-template-columns: 20% repeat(2,1fr);
    grid-template-rows: 20px repeat(3, 300px);
    gap: 20px;
    grid-template-areas: 
    "actions actions actions" 
    "filters prod1 prod1" 
    "filters prod2 prod3"
    "filters prod2 prod4"
    ;
}
    .tienda .actions{
        padding: 25px 10px;
        grid-area: actions;
    }

    .tienda .filters{
       grid-area: filters;
    }

    .tienda .prod1{
       grid-area: prod1;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       padding: 123px;
    }

    .tienda .prod1 p{
        width: 60%;
        margin-left: 50px;
    }
    .prod1 img{
        height: 250px;
    }
    .prod2 img{
        height: 250px;
    }
    .prod3 img{
        height: 250px;
    }
    .prod4 img{
        height: 250px;
    }

    .tienda .prod2{

        grid-area: prod2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 50px;
    }

    .tienda .prod3{
        grid-area: prod3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tienda .prod4{
        grid-area: prod4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tienda .prod5{
        grid-area: prod5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tienda section{
        border-radius: 10px;
    }
