.BtnAnimado:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s;

}
/*banner*/
@keyframes moveText {
    from {
      transform: translateX(0); /* Comienza en la posición inicial (sin desplazamiento) */
    }
    to {
      transform: translateX(100%); /* Se desplaza hacia el lado derecho */
    }
    
  }





  
  