/*tienda grids*/
.tienda{
    display: grid;
    grid-template-columns: 20% repeat(2,1fr);
    grid-template-rows: 20px repeat(3, 300px);
    gap: 20px;
    grid-template-areas: 
    "actions actions actions" 
    "filters prod1 prod1" 
    "filters prod2 prod3"
    "filters prod2 prod4"
    ;
}
    .tienda .actions{
        padding: 25px 10px;
        grid-area: actions;
    }

    .tienda .filters{
       grid-area: filters;
    }

    .tienda .prod1{
       grid-area: prod1;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content:space-evenly;
    }

    .tienda .prod1 p{
        width: 50%;
        margin-left: 50px;
    }
    .prod1{
        img{
        height: 250px;
        border-radius: 10px;
        }
    }
    .prod2{
        img{
        height: 250px;
        border-radius: 10px;
        }
        p{
        padding: 20px;
        }
    }
    .prod3{
        img{
        height: 250px;
        border-radius: 10px;
        }
    }
    .prod4{
        img{
        height: 250px;
        border-radius: 10px;
        }
    }

    .tienda .prod2{

        grid-area: prod2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px;
    }

    .tienda .prod3{
        grid-area: prod3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tienda .prod4{
        grid-area: prod4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tienda .prod5{
        grid-area: prod5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tienda section{
        border-radius: 10px;
    }
@media (width < 768px){
    
    .tienda{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "actions" 
        "filters"
        "prod1"
        "prod2"
        "prod3"
        "prod4";
    }
        .tienda .actions{
            justify-content: flex-start;
        }
        .tienda .actions input{
            width:260px;
        }
        .tienda .filters span,
        .tienda .filters label,
        .tienda .filters input[type="checkbox"],
        .tienda .filters ul{
            display: flex;
        } 
        .tienda .filters select{
            width: 100%;
            background-color: rgb(243, 245, 245);
            padding: 6px;
            border-radius: 3px;
            margin-top: 20px;
        }
        .tienda .prod1,
        .tienda .prod2,
        .tienda .prod3,
        .tienda .prod4{
            flex-direction: column;
            padding: 10px;
            p{
            width: auto;
            margin-left: 0;
            text-align: center;
            padding: 20px;
            }

        }
/*nosotros*/
    .nosotros{
        margin: 10px;
        padding: 10px;
        }
    .descrip1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        p{
            padding: 10px;
        }
            

    }
/*terrarios*/
    
}


