.nosotros{
    border: 1.5px solid #b8b8b8;
    border-radius: 5px;
    box-shadow: 3px 6px 30px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 3px 6px 30px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 3px 6px 30px 0px rgba(0,0,0,0.52);
    margin: 10px 20%;
    padding: 30px;
}
.descrip1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    p{
        margin: 30px ;
        text-align: center;
        &:first-letter{
            color:$mainColor;
            font-size:$textLg;
            font-weight:$textBold;
        }
    }
    img{
        width: 100%;
        border-radius: 5px;
    }

}
