.filters{
    padding: 20px 20px 30px 30px;
    a{
        color: rgb(134, 130, 132);
        font-size: 1.2em;
        text-decoration: none;
        margin-bottom: 10px;
        text-transform: lowercase;
        &:hover{
            color:rgb(17, 236, 163);
        }
    }
    span{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        letter-spacing: 1px;
        font-size: 1.5em;
    }
    select{
        color: rgb(10, 133, 75);
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 1.5em;
    }
    li{
        padding-left: 10px;
        list-style: none;
    }
}
.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions button{
    margin-left: 10px;
    background-color: rgba(17, 131, 93, 0.623);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.actions input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(221, 221, 221);
    
}